<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/tailwind_output.min.css" rel="stylesheet">
    <title>Stable Diffusion Models Manager</title>

    <style>
        select option:checked {
            background-color: #7c3aed; /* Tailwind's purple-600 */
            color: white;
        }
    </style>
</head>
<body class="bg-black text-white flex flex-col min-h-screen">

<div class="w-full flex items-center justify-between shadow-md px-4 py-3">

    <div class="flex items-center space-x-5">
<!--        <img src="/assets/icon.png" alt="" class="w-8 h-8"/>-->
        <a href="/"><span class="text-2xl font-bold">SDMM</span></a>
        <nav class="flex items-center space-x-4 ml-6">
            <a href="/" class="hover:text-white transition font-bold">Home</a>
            <a href="/civitai" class="hover:text-white transition font-bold">Civitai</a>
            <a href="/maintenance" class="hover:text-white transition font-bold">Maintenance</a>
            <a href="/setting" class="hover:text-white transition font-bold">Setting</a>
        </nav>
    </div>
</div>
