(
    db: (
        sqlite: (
            db_path: "sdmm.sqlite",
        ),
    ),
    model_paths: {
        "collection1": "/workspace/models",
    },
    civitai: (
        api_key: "your_civitai_api_key",
        overwrite_thumbnail: false,
        overwrite_json: false,
        download_dir: {},
        max_retries: 5,
    ),
    listen_addr: "0.0.0.0",
    listen_port: 9696,
    api: (
        per_page: 20,
        basic_auth_user: "",
        basic_auth_pass: "",
    ),
    parallel: 8,
    extensions: [
        "safetensors",
        "ckpt",
        "gguf",
        "pt",
        "pth",
    ],
)